{% extends "index.html" %}
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='admin.css') }}"
/>
{% endblock head %}
{% block title %}Admin | Edit Pengguna{% endblock title %}
{% block body_content %}
<body id="body-pd">
    {% include "components/navigation.html" %}
    <div class="l-navbar" id="nav-bar" style="background-color: #5b4d99">
      <nav class="nav">
        <div>
          <a href="{{ url_for('users.profile_admin_by_index', index=user['index']) }}" class="nav_logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" style="height: 40px"
          /></a>
          <div class="nav_list">
            <a href="{{ url_for('users.profile_admin_by_index', index=user['index']) }}" class="nav_link">
              <i class="bx bx-grid-alt nav_icon"></i
              ><span class="nav_name">Dashboard</span>
            </a>
            <a href="{{ url_for('users.adminEsai', index=user['index']) }}" class="nav_link">
              <i class="bx bx-message-square-detail nav_icon"></i>
              <span class="nav_name">Essays</span>
            </a>
            <a href="{{ url_for('users.adminPengguna', index=user['index']) }}" class="nav_link active">
              <i class="bx bx-user nav_icon"></i>
              <span class="nav_name">Users</span>
            </a>
          </div>
        </div>
        <a href="{{ url_for('users.login') }}" class="nav_link">
          <i class="bx bx-log-out nav_icon"></i>
          <span class="nav_name">SignOut</span>
        </a>
      </nav>
    </div>
    <h1 style="font-size: 28px; padding-top: 12px">Edit Pengguna</h1>
    <div class="pt-2 pb-4">
      <div class="p-4" style="background-color: #f7f6fb; border-radius: 8px">
        <form
            action="{{ url_for('users.edit_pengguna', index=2, index_user=pengguna['index']) }}"
            method="POST"
          class="row"
          id="myForm"
          enctype="multipart/form-data"
        >
          <div class="mr-2 mb-3 col-6 mx-auto">
            <div class="mb-3">
              <label
              for="email"
              class="form-label"
              style="font-weight: bold"
              >Email <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              value="{{ pengguna.email }}"
            />
            </div>
            <div class="mb-3">
              <label
              for="password"
              class="form-label"
              style="font-weight: bold"
              >Password <span style="color: red">*</span></label
            >
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="********"
              value="{{ pengguna.value }}"
            />
            </div>
          </div>
          <div class="ml-2 mb-3 col-6 mx-auto border-start">
            <div class="mb-3">
              <label
              for="name"
              class="form-label"
              style="font-weight: bold"
              >Nama <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="{{ pengguna.name }}"
            />
            </div>
            <div class="mb-3">
              <label
              for="npm"
              class="form-label"
              style="font-weight: bold"
              >NPM <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="npm"
              name="npm"
              value="{{ pengguna.npm }}"
            />
            </div>
          </div>
          <input
          type="submit"
          value="Submit"
          class="btn"
          style="
            background-color: #5b4d99;
            color: white;
            font-weight: bold;
            margin-top: 16px;
          "
        />
        </form>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script>
            {% for category, message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
  {% endwith %}
    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
  </body>
{% endblock body_content %}


